@model AkGida_MyInfo.Models.Menu
    @*@model AkGida_MyInfo.ViewModel.MenuCreate*@

@{
    ViewBag.Title = "Menü Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.CompanyID, "Şube", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @*@Html.DropDownListFor(m => m.CompanyID, Model.CompanyList, htmlAttributes: new { @class = "form-control" })*@
            @Html.DropDownList("CompanyID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
        @Html.LabelFor(model => model.YemekSirketiID, "Yemek Sirketi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.YemekSirketiID, Model.YemekSirketiList, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.DropDownList("YemekSirketiID", null, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.ValidationMessageFor(model => model.YemekSirketiID, "", new { @class = "text-danger" })
        </div>
    </div>*@

    @*@section scripts
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#company_CompanyID").change(function () {
                    var id = $(this).val();
                    var yemekSirList = $("#YemekSirketiID");
                    yemekSirList.empty();

                    $.ajax(
                        {
                            url: '/MenuYonetim/YemekSirketiList',
                            type: 'POST',
                            dataType: 'json',
                            data: { 'id': id },
                            success: function (data) {
                                console.log(data);
                                $.each(data, function (index, option) {
                                    yemekSirList.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                                    console.log(option.Value + "  " + option.Text);
                                });
                            }
                        });
                });

            });

        </script>
    }*@



    <div class="form-group">
        @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Corba, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Corba, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Corba, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnaYemek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.AnaYemek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AnaYemek, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Diyet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Diyet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diyet, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PilavMakarna, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.PilavMakarna, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PilavMakarna, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Tatli, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Tatli, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tatli, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Meyve, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Meyve, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Meyve, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Salata, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Salata, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Salata, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
            <input type="submit" value="Kaydet" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
