@using AkGida_MyInfo.ViewModel
@using AkGida_MyInfo.Models
@model ViewModels
@{
    ViewBag.Title = "Departmanlar";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<!-- CORE CSS -->
<link href="~/Content/User/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="~/Content/User/assets/css/essentials.css" rel="stylesheet" type="text/css" />
<link href="~/Content/User/assets/css/layout.css" rel="stylesheet" type="text/css" />

<!-- SWIE SLIDER -->
<link href="~/Content/User/assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/Content/User/assets/plugins/';</script>
@*<script type="text/javascript" src="~/Content/User/assets/plugins/jquery/jquery-2.1.4.min.js"></script>*@

<script type="text/javascript" src="~/Content/User/assets/js/scripts.js"></script>

<!-- STYLESWITCHER - REMOVE -->
<script async type="text/javascript" src="~/Content/User/assets/plugins/styleswitcher/styleswitcher.js"></script>



<style>

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 3px;
    }

    .grid-item {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(24, 193, 182);
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    table > tr > td {
        border: 1px solid rgb(24, 193, 182) !important;
        padding: 6px;
    }

    table > tr > th {
        border: 1px solid rgb(24, 193, 182) !important;
        align-content: center;
    }

    a:hover {
        cursor: pointer;
    }
</style>

<h3 align="center" style="color:#337ab7">Departmanlar</h3>

<!-- TOGGLES -->
<div class="toggle toggle-transparent toggle-bordered-full margin-top-5">

    @foreach (Departments item in Model.Departmanlarim)
    {
        <div class="toggle" align="center">
            <!-- toggle -->
            <label style="color:#337ab7">@item.DepartmentName</label>
            <div id=@item.DepartmentID.ToString() class="toggle-content">
                <table class="table">
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Corbus</th>
                        <th>Dahili No</th>
                        <th>Telefon</th>
                        <th>E-Posta</th>
                        <th>Departman</th>
                        <th>Şube</th>
                        <th>Doğum Tarihi</th>
                    </tr>

                    @foreach (Personels item1 in Model.Personellerim)
                    {
                        if (item1.DepartmentID == item.DepartmentID)
                        {
                            <tr>
                                <td>@item1.PersonelName</td>
                                <td>@item1.PersonelSurname </td>
                                <td>@item1.Corbus </td>
                                <td>@item1.PersonelDahiliNo</td>
                                <td>@item1.PersonelTel </td>
                                <td>@item1.PersonelEposta</td>
                                <td>@item1.Departments.DepartmentName</td>
                                <td>@item1.Departments.Companies.CompanyName</td>
                                <td>@item1.Birthday </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div><!-- /toggle -->
    }

</div>


<script>

    $("label").click(function (event) {
        $(".toggle-content").hide();
        $(event.target).next(".toggle-content").toggle("slow");
    });

</script>

<!-- /TOGGLES -->


<table id="Liste" style="width:100%; display:none;"></table>


<div class="container text-center">
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3 style="color:#337ab7">Günün Menüsü</h3>
            @foreach (Menu m_item in Model.Menulerim)
            {
                <frame>
                    <div class="grid-item">
                        <h5>@m_item.Corba</h5>
                        <h5>@m_item.AnaYemek</h5>
                        <h5>@m_item.Diyet</h5>
                        <h5>@m_item.PilavMakarna</h5>
                        <h5>@m_item.Tatli</h5>
                        <h5>@m_item.Meyve</h5>
                        <h5>@m_item.Salata</h5>
                    </div>
                </frame>

            }
        </div>

        <div class="col-md-8">
            <h3 style="color:#337ab7">Duyurular</h3>

            <div class="blog-post-item">
                <!-- OWL SLIDER -->
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>

                    @foreach (Duyurular d_item in Model.Duyurularim)
                    {
                        <div>
                            <img class="img-responsive" src="@Url.Content(d_item.ResimYolu)" alt="">
                        </div>

                    }
                </div>
                <!-- /OWL SLIDER -->

            </div>

        </div>

    </div>
</div>


<!-- -->
<section>
    <div class="container">

        <header class="text-center">
            <h3 class="nomargin" style="color:#337ab7">Servis Bilgileri</h3>
        </header>

        <div class="divider divider-center">
            <!-- divider -->
            <i class="fa fa-chevron-down"></i>
        </div>

        <ul class="process-steps nav nav-tabs nav-justified margin-top-40">

            @{int i = 1;}

            @foreach (Servis item in Model.Servislerim)
            {
                <li>
                    <a href=@("#servis"+item.ServisID.ToString()) data-toggle="tab">@i</a>
                    <h5>@item.Guzergah</h5>
                </li>
                i++;
            }

        </ul>

        <div class="tab-content margin-top-30">
            @{int _sayac = 1; }
            @foreach (Servis item in Model.Servislerim)
            {
                    <div class="tab-pane" id=@("servis"+item.ServisID.ToString())>
                        <b>@item.SoforAdi @item.SoforSoyadi</b> <br />
                        <b>Telefon:</b> @item.Telefon<br />
                        @item.Plaka
                    </div>
                _sayac++;
            }
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $(function () {
               
                $.ajax({
                    method: "Get",
                    url: "/Home/EtkinlikleriGetir",
                    BeforeSend: function () {
                        console.log("verileri gitti");
                    }
                }).done(function (d) {

    </script>
</section>
<!-- / -->

<!-- -->
<section>
    <div class="container">

        <header class="text-center">
            <h2 class="nomargin">Process Steps</h2>
            <p class="font-lato size-20 nomargin">We truly care about our customers</p>
        </header>

        <div class="divider divider-center">
            <!-- divider -->
            <i class="fa fa-chevron-down"></i>
        </div>
        @{

            int sayac = 1;
            List<string> veriler = new List<string>();
            veriler.Add("Research");
            veriler.Add("Prototyping");
            veriler.Add("Design");
            veriler.Add("Development");
            veriler.Add("Result");
        }
        <ul class="process-steps nav nav-tabs nav-justified margin-top-100">
            @foreach (var item in veriler)
            {
                if (sayac == 1)
                {
                    <li >
                        <a href=@("#step"+@sayac.ToString()) data-toggle="tab">@sayac</a>
                        <h5>@item</h5>

                    </li>
                }
                else
                {
                    <li>
                        <a href=@("#step"+@sayac.ToString()) data-toggle="tab">@sayac</a>
                        <h5>@item</h5>

                    </li>
                }
                sayac++;
            }

            @*<li class="active">
                    <a href="#step1" data-toggle="tab">1</a>
                    <h5>Research</h5>
                </li>
                <li>
                    <a href="#step2" data-toggle="tab">2</a>
                    <h5>Prototyping</h5>
                </li>
                <li>
                    <a href="#step3" data-toggle="tab">3</a>
                    <h5>Design</h5>
                </li>
                <li>
                    <a href="#step4" data-toggle="tab">4</a>
                    <h5>Development</h5>
                </li>
                <li>
                    <a href="#step5" data-toggle="tab">5</a>
                    <h5>Result</h5>
                </li>*@
        </ul>

        <div class="tab-content margin-top-30">
            <div class="tab-pane active" id="step1">
                <strong>Research</strong> heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>

            <div class="tab-pane" id="step2">
                <strong>Prototyping</strong>  denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>

            <div class="tab-pane" id="step3">
                <strong>Design</strong>  tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>

            <div class="tab-pane" id="step4">
                <strong>Development</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>

            <div class="tab-pane" id="step5">
                <strong>Result</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </div>
        </div>

    </div>
</section>
<!-- / -->



<!-- SWIPE SLIDER -->
<script type="text/javascript" src="~/Content/User/assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>




@*<div class="tab-content margin-top-30">
    <script>
        $(function ClikToID() {
            $(".tile-link").click(function () {
                var hrefID = this.id;
                console.log("tıklandı:" + hrefID);
                $("#Liste").html("");
                $("#Liste").hide(1, function () {

                    $.ajax({
                        method: "POST",
                        url: "/Home/Departments",
                        date: { ServisID: hrefID },
                        beforeSend: function () {
                            console.log("veriler gönderildi.");
                        }
                    }).done(function (s) {
                        console.log("s:" + s);

                        $("#Liste").show(1, function () {
                            var thead = $('<tr><th>Güzergah</th><th>Şoför Adı</th><th>Şoför Soyadı</th><th>Telefon</th><th>Plaka</th></tr>');
                            $("#Liste").append(thead);
                            for (var i in s) {

                                var hrefServis = $('<tr><td>' + s[i].Guzergah + '</td><td>' + s[i].SoforAdi + '</td><td>' + s[i].SoforSoyadi + '</td><td>' + s[i].Telefon + '</td><td>' + s[i].Plaka + '</td></tr>');
                                $("#Liste").append(hrefServis);
                            }
                        })
                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });
            });
        });


    </script>*@
