@using AkGida_MyInfo.ViewModel
@using AkGida_MyInfo.Models
@model ViewModels

@{
    ViewBag.Title = "Departmanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 align="center">Departmanlar</h4>


<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 3px;
    }

    .grid-item {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(24, 193, 182);
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    table > tr > td {
        border: 1px solid rgb(24, 193, 182) !important;
        padding: 6px;
    }

    table > tr > th {
        align-content: center;
    }

    a:hover {
        cursor: pointer;
    }
</style>


<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section class="tiles">
                @foreach (Departments item in Model.Departmanlarim)
                {
                    <article class="style07">
                        <span class="image">
                            <img src="~/Template/images/pic02.jpg" alt="" />
                        </span>

                        <a id="@item.DepartmentID" class="tile-link">

                            <h6>@item.DepartmentName</h6>

                            <div class="content">
                                <p>
                                </p>
                            </div>
                        </a>
                    </article>
                }
            </section>
        </div>
    </div>
</div>

<hr />
<table id="Liste" style="width:100%; display:none;"></table>


<script>

    $(function ClickToID() {
        $(".tile-link").click(function () {
            var divID = this.id;//Or $(this).attr("id");
            console.log("tıklandı:" + divID);
            $("#Liste").html("");
            $("#Liste").hide(1, function () {
                //Your code here
                $.ajax({
                    method: "POST",
                    url: "/Home/PartialPers",
                    data: { departmanid: divID },
                    beforeSend: function () {
                        console.log("Veriler Gonderildi.");
                    }
                }).done(function (d) {
                    console.log("d:" + d);

                    $("#Liste").show(1, function () {

                        var thead = $('<tr><th>Personel Ad</th><th>Personel Soyad</th><th>Dahili No</th><th>Telefon No</th><th>Mail Adresi</th></tr>');
                        $("#Liste").append(thead);
                        for (var i in d) {

                            var divPersonel = $('<tr><td>' + d[i].PersonelName + '</td><td>' + d[i].PersonelSurname + '</td><td>' + d[i].PersonelDahiliNo + '</td><td>' + d[i].PersonelTel + '</td><td>' + d[i].PersonelEposta + '</td></tr>');
                            $("#Liste").append(divPersonel);

                        }
                    })

                }).fail(function () {
                    console.log("hata olustu..");
                });
            });


        });
    });

</script>


<div class="container text-center">
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3>Yemek Şirketleri</h3>
            @foreach (YemekSirketi y_item in Model.YemekSirketlerim)
            {
                <frame>
                    <div class="grid-item">
                        <h3>@y_item.YemekSirketiAdi</h3>
                    </div>

                </frame>

            }
        </div>
        <div class="col-md-8">
            <h3>Duyurular</h3>
            @foreach (Duyurular y_item in Model.Duyurularim)
            {
                <frame>
                    <div class="grid-item">
                        <h3>@y_item.Baslik</h3>
                        <p>@y_item.Icerik</p>
                    </div>

                </frame>

            }
        </div>
    </div>
</div><br>



@*<script>
        $(function ClickToIDD() {
            $().click(function () {
                var divID =Companies.CompanyID ;
                console.log("company tıklandı:" + divID);
                $("#Liste2").html("");
                $("#Liste2").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/YemekSirketi",
                        data: { companyidd: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:" + d);
                        $("#Liste2").show(300, function () {

                            for (var i in d) {

                                var divYemekSirketi = $("<h2>" + d[i].YemekSirketiAdi + "</h2> ");
                                $("#Liste2").append(divYemekSirketi);
                                console.log("Çekilen Veri: " + d[i].YemekSirketiAdi);
                            }
                        })
                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });
            });
        });
    </script>*@





















@*personeller tablo şekline getirilmeden görüntüleniyor*@


@*<script>

        $(function ClickToID() {
            $("div b").click(function () {
                    var divID = this.id;//Or $(this).attr("id");
                    console.log("tıklandı:" + divID);
                $("#Liste").html("");
                $("#Liste").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/PartialPers",
                        data: { departmanid: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:"+d);
                        $("#Liste").show(300, function () {
                            for (var i in d) {

                                var divPersonel = $("<div id='grid-item'><h2>" + d[i].PersonelName + "  " + d[i].PersonelSurname + "</h2>" +
                                    "<p><b>" + d[i].PersonelDahiliNo + " " + d[i].PersonelTel + " " + d[i].PersonelEposta + "</b></p></div > ");
                                $("#Liste").append(divPersonel);
                                console.log("Çekilen Veri: " + d[i].PersonelName + " " + d[i].PersonelSurname);
                            }
                        })

                        }).fail(function () {
                            console.log("hata olustu..");
                    });
                });


            });
        });

    </script>*@