@using AkGida_MyInfo.ViewModel
@using AkGida_MyInfo.Models
@model ViewModels
@{
    ViewBag.Title = "Departmanlar";
    /*Layout = "~/Views/Shared/_Layout.cshtml";*/
}

<h4 align="center">Departmanlar</h4>

<!-- CORE CSS -->
<link href="~/Content/User/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="~/Content/User/assets/css/essentials.css" rel="stylesheet" type="text/css" />
<link href="~/Content/User/assets/css/layout.css" rel="stylesheet" type="text/css" />

<!-- SWIE SLIDER -->
<link href="~/Content/User/assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>



<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/Content/User/assets/plugins/';</script>
@*<script type="text/javascript" src="~/Content/User/assets/plugins/jquery/jquery-2.1.4.min.js"></script>*@

<script type="text/javascript" src="~/Content/User/assets/js/scripts.js"></script>

<!-- STYLESWITCHER - REMOVE -->
<script async type="text/javascript" src="~/Content/User/assets/plugins/styleswitcher/styleswitcher.js"></script>





<style>

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 3px;
    }

    .grid-item {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(24, 193, 182);
        padding: 20px;
        font-size: 16px;
        text-align: center;
    }

    table > tr > td {
        border: 1px solid rgb(24, 193, 182) !important;
        padding: 6px;
    }

    table > tr > th {
        border: 1px solid rgb(24, 193, 182) !important;
        align-content: center;
    }

    a:hover {
        cursor: pointer;
    }
</style>


<!-- TOGGLES -->
<div class="toggle toggle-transparent toggle-bordered-full margin-top-60">

    @foreach (Departments item in Model.Departmanlarim)
    {
        <div class="toggle">
            <!-- toggle -->
            <label>@item.DepartmentName</label>
            <div id=@item.DepartmentID.ToString() class="toggle-content">
                <table class="table">
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Corbus</th>
                        <th>Dahili No</th>
                        <th>Telefon</th>
                        <th>E-Posta</th>
                        <th>Departman</th>
                        <th>Şube</th>
                        <th>Doğum Tarihi</th>
                    </tr>

                    @foreach (Personels item1 in Model.Personellerim)
                    {
                        if (item1.DepartmentID == item.DepartmentID)
                        {
                            <tr>
                                <td>@item1.PersonelName</td>
                                <td>@item1.PersonelSurname </td>
                                <td>@item1.Corbus </td>
                                <td>@item1.PersonelDahiliNo</td>
                                <td>@item1.PersonelTel </td>
                                <td>@item1.PersonelEposta</td>
                                <td>@item1.Departments.DepartmentName</td>
                                <td>@item1.Departments.Companies.CompanyName</td>
                                <td>@item1.Birthday </td>
                            </tr>
                        }
                    }
                </table>

                @*<p class="clearfix">

                    @foreach (Personels p_item in Model.Personellerim)
                         {
                             <table>
                                 <tr>
                                     <th>First name</th>
                                     <th>Last name</th>
                                     <th>Telefon</th>
                                     <th>Dahili No</th>
                                     <th>E-Posta</th>
                                     <th>Departman</th>
                                     <th>Şube</th>
                                 </tr>

                                 <tr>
                                     <td>@p_item.PersonelName</td>
                                     <td>@p_item.PersonelSurname</td>
                                     <td>@p_item.PersonelTel</td>
                                     <td>@p_item.PersonelDahiliNo</td>
                                     <td>@p_item.PersonelEposta</td>
                                     <td>@p_item.Departments.DepartmentName</td>
                                     <td>@p_item.Departments.Companies.CompanyName</td>
                                 </tr>
                             </table>
                         }*@



            </div>
        </div><!-- /toggle -->
    }



</div>


<script>
    //$(function ClickToID() {
    //    $(".toggle-content").click(function () {
    //        var divID = this.id;//Or $(this).attr("id");
    //        $("#" + divID).click(function () {
    //            $("#" + divID).toggle();
    //        })
    //    })
    //})

    $("label").click(function (event) {
        $(".toggle-content").hide();
        $(event.target).next(".toggle-content").toggle("slow");
    });

</script>

<!-- /TOGGLES -->
@*<div id="wrapper">
        <div id="main">
            <div class="inner">
                <section class="tiles">
                    @foreach (Departments item in Model.Departmanlarim)
                    {
                        <article class="style07">
                            <span class="image"> 
                                <img src="~/Template/images/pic02.jpg" alt="" />
                            </span>
                            <a id=@item.DepartmentID.ToString() class="tile-link">
                                <h6>@item.DepartmentName</h6>
                                <div class="content">
                                    <p>
                                    </p>
                                </div>
                            </a>
                        </article>
                    }
                </section>
            </div>
        </div>
    </div>*@

<table id="Liste" style="width:100%; display:none;"></table>

@*<script>

        $(function ClickToID() {
            $(".toggle-content").click(function () {
                var divID = this.id;//Or $(this).attr("id");
                console.log("tıklandı:" + divID);
                //buraya düşmüyor.
                $('#' + divID).html("");
                $ $('#' + divID).hide(1, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/PartialPers",
                        data: { departmanid: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:" + d);

                        $('#' + divID).show(1, function () {
                            for (var i in d) {

                                var divPersonel = $('<b>' + d[i].PersonelName + '</b><br/><b>' + d[i].PersonelSurname + '</b><br/><b>' + d[i].PersonelDahiliNo + '</b><br/><b>' + d[i].PersonelTel + '</b><br/><b>' + d[i].PersonelEposta + '</b><br/>');
                                $('#' + divID).append(divPersonel);

                            }
                        })

                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });


            });
        });

    </script>*@


<div class="container text-center">
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3>Günün Menüsü</h3>
            @foreach (Menu m_item in Model.Menulerim)
            {
                <frame>
                    <div class="grid-item">
                        @*<h3>@m_item.Tarih</h3>*@
                        <h5>@m_item.Corba</h5>
                        <h5>@m_item.AnaYemek</h5>
                        <h5>@m_item.Diyet</h5>
                        <h5>@m_item.PilavMakarna</h5>
                        <h5>@m_item.Tatli</h5>
                        <h5>@m_item.Meyve</h5>
                        <h5>@m_item.Salata</h5>
                    </div>
                </frame>

            }
        </div>

        <div class="col-md-8">
            <h3>Duyurular</h3>

            <div class="blog-post-item">
                <!-- OWL SLIDER -->
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>

                    @foreach (Duyurular d_item in Model.Duyurularim)
                    {
                        <div>
                            <img class="img-responsive" src="@Url.Content(d_item.ResimYolu)" alt="">
                        </div>

                    }
                </div>
                <!-- /OWL SLIDER -->

            </div>

        </div>

    </div>
</div><br>









@*<script>
        $(function ClickToIDD() {
            $().click(function () {
                var divID =Companies.CompanyID ;
                console.log("company tıklandı:" + divID);
                $("#Liste2").html("");
                $("#Liste2").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/YemekSirketi",
                        data: { companyidd: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:" + d);
                        $("#Liste2").show(300, function () {

                            for (var i in d) {

                                var divYemekSirketi = $("<h2>" + d[i].YemekSirketiAdi + "</h2> ");
                                $("#Liste2").append(divYemekSirketi);
                                console.log("Çekilen Veri: " + d[i].YemekSirketiAdi);
                            }
                        })
                    }).fail(function () {
                        console.log("hata olustu..");
                    });
                });
            });
        });
    </script>*@










@*personeller tablo şekline getirilmeden görüntüleniyor*@

@*<script>

        $(function ClickToID() {
            $("div b").click(function () {
                    var divID = this.id;//Or $(this).attr("id");
                    console.log("tıklandı:" + divID);
                $("#Liste").html("");
                $("#Liste").hide(300, function () {
                    //Your code here
                    $.ajax({
                        method: "POST",
                        url: "/Home/PartialPers",
                        data: { departmanid: divID },
                        beforeSend: function () {
                            console.log("Veriler Gonderildi.");
                        }
                    }).done(function (d) {
                        console.log("d:"+d);
                        $("#Liste").show(300, function () {
                            for (var i in d) {

                                var divPersonel = $("<div id='grid-item'><h2>" + d[i].PersonelName + "  " + d[i].PersonelSurname + "</h2>" +
                                    "<p><b>" + d[i].PersonelDahiliNo + " " + d[i].PersonelTel + " " + d[i].PersonelEposta + "</b></p></div > ");
                                $("#Liste").append(divPersonel);
                                console.log("Çekilen Veri: " + d[i].PersonelName + " " + d[i].PersonelSurname);
                            }
                        })

                        }).fail(function () {
                            console.log("hata olustu..");
                    });
                });


            });
        });

    </script>*@


<!-- SWIPE SLIDER -->
<script type="text/javascript" src="~/Content/User/assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>