@model IEnumerable<AkGida_MyInfo.Models.Duyurular>

@{
    ViewBag.Title = "Şube Duyuru Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a href="/DuyuruYonetim/Create" button type="button" class="btn btn-primary">Duyuru Ekle</a>
</p>


<div class="table-responsive">
    <table class="table table-bordered nomargin">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>İçerik</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Resim Yolu</th>
                <th>Şube</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Baslik</td>
                    <td>@item.Icerik</td>
                    <td>@item.BaslangicTarihi</td>
                    <td>@item.BitisTarihi</td>
                    <td>@item.ResimYolu</td>
                    <td>@item.Companies.CompanyName</td>
                    <td>
                        <a href="/DuyuruYonetim/Edit/@item.DuyuruID" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Düzenle </a>
                        <a href="/DuyuruYonetim/Delete/@item.DuyuruID" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Sil </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>